<%= render partial: "logo" %>
<%# English_view %>
<% if current_user.site_language_id == 1 %>
  <div class="jumbotron jumbotron-fluid padding">
    <div class="container text_align_center">
      <h1 class="display-4">Hello ! <span class="title"><%= current_user.nickname %></span> !<br> We appreciate your joining.</h1>
      <hr class="my-4">
      <p class="lead">In  <span class="title">Solutions</span>, you can use the following service.</p>
      <%= link_to "Get started", user_info_posts_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
  <div class="card_area">
    <div class="card box-shadow" style="width: 18rem;">
      <%= image_tag("card1.jpg", class: "card-img-top", alt: "Card image cap")%>
      <div class="card-body info_color_white text_align_center">
        <span class="big_word">Question card</span>
        <p class="card-text">
          If you have a question about the language you are learning. than you can make question card to find your answer form another user.
        </p>
      </div>
    </div>
    <div class="card box-shadow" style="width: 18rem;">
      <%= image_tag("card2.jpg", class: "card-img-top", alt: "Card image cap",height: "295px")%>
      <div class="card-body info_color_white text_align_center">
        <span class="big_word">Answer</span>
        <p class="card-text">
          answer another user's question by using your mother language, we holp ereyone growing together.
        </p>
      </div>
    </div>
  </div>

<%# 日本語_view %>
<% elsif current_user.site_language_id == 2 %>
  <div class="jumbotron jumbotron-fluid padding">
    <div class="container text_align_center">
      <h1 class="display-4">こんにちは ! <span class="title"><%= current_user.nickname %></span> !<br> 新規登録完了しました。</h1>
      <hr class="my-4">
      <p class="lead"><span class="title">Solutions</span>で, 以下のサービスをご利用いただけます。</p>
      <%= link_to "Get started", user_info_posts_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
  <div class="card_area">
    <div class="card box-shadow" style="width: 18rem;">
      <%= image_tag("card1.jpg", class: "card-img-top", alt: "Card image cap")%>
      <div class="card-body info_color_white text_align_center">
        <span class="big_word">質問カート</span>
        <p class="card-text">
          学習中の言語に関する質問があれば、質問カートを作成して他のユーザーに解答してもらいましょう。
        </p>
      </div>
    </div>
    <div class="card box-shadow" style="width: 18rem;">
      <%= image_tag("card2.jpg", class: "card-img-top", alt: "Card image cap",height: "295px")%>
      <div class="card-body info_color_white text_align_center">
        <span class="big_word">解答</span>
        <p class="card-text">
          自分の母語で他のユーザーの質問を解答して、共に成長できる環境を作りましょう。
        </p>
      </div>
    </div>
  </div>

<%# 中文_view %>
<% elsif current_user.site_language_id == 3 %>
  <div class="jumbotron jumbotron-fluid padding">
    <div class="container text_align_center">
      <h1 class="display-4">謝謝您 ! <span class="title"><%= current_user.nickname %></span> !<br> 會員登入已經完成、<br>歡迎加入我們。</h1>
      <hr class="my-4">
      <p class="lead">在<span class="title">Solutions</span>, 您可以使用以下的服務。</p>
      <%= link_to "Get started", user_info_posts_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
  <div class="card_area">
    <div class="card box-shadow" style="width: 18rem;">
      <%= image_tag("card1.jpg", class: "card-img-top", alt: "Card image cap")%>
      <div class="card-body info_color_white text_align_center">
        <span class="big_word">發問</span>
        <p class="card-text">
          如果您在語言學習過程中遭遇貧頸、您可以製作發問卡請其他用戶幫您解答。
        </p>
      </div>
    </div>
    <div class="card box-shadow" style="width: 18rem;">
      <%= image_tag("card2.jpg", class: "card-img-top", alt: "Card image cap",height: "295px")%>
      <div class="card-body info_color_white text_align_center">
        <span class="big_word">解答</span>
        <p class="card-text">
          使用您的母語回答其他用戶的發問、我們希望大家能夠共同成長。
        </p>
      </div>
    </div>
  </div>
<% end %>