<%= render partial: "header" %>
<div class="d-flex">
  <%= render partial: "side_bar" %>
  
  <!-- Question card -->
  <div class="container padding0 ">
    <div class="border rounded">
      <nav class=" upper_area_show" aria-label="breadcrumb">
        <ul class="breadcrumb margin0 border-bottom ">
          <li class="breadcrumb-item">
            <%= link_to "#{t('show.Upper.Home')}", user_info_post_path(current_user.id) %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to @q_card.user.nickname , user_info_post_path(@q_card.user.id) %>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= t('show.Upper.QuestionCardDetail') %>
          </li>
        </ul>
        <% if current_user.id == @q_card.user.id or current_user.nickname == "emma" %>
          <!-- Button trigger modal -->
          <div class="border-top margin10" data-toggle="modal" data-target="#destroy_btn">
            <%= link_to "#{t('dictionary.confirm.DestroyCardBtn')}", "#", class: "btn btn-info btn-sm" %>
          </div>
        <% end %>
        <!-- Modal -->
        <div class="modal fade" id="destroy_btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              
              <h5 class="modal-body text-center font-weight-normal">
                <%= t('dictionary.confirm.DestroyCard') %>
              </h5>
              <div class="modal-footer">
                <div class="btn btn-secondary" data-dismiss="modal">
                  <%= t('dictionary.confirm.MaybeLatter') %>
                </div>
                <%= link_to "#{t('dictionary.confirm.YesIWant')}", post_path(@q_card), method: "DELETE", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
      <div class="jumbotron jumbotron-fluid padding0 ">
        <div class="container paddingbottom5">
          <% if @q_card.theme.present? %>
            <div class="upper border-bottom padding">
              <h2 class="letter_space">
                <%= @q_card.theme %>
              </h2>
            </div>
          <% end %>
          <div class="upper">
            <small class="text-secondary margin8">
              <%= @q_card.created_at.strftime("%Y/%m/%d %H:%M") %>
            </small>
            <div class="paddingtop">
              <span data-toggle="tooltip" data-placement="top" title="Number of answers">
                <i class="far fa-check-circle"></i>
                <small class="text-secondary margin8">
                  <%= @q_card.a_cards.count %>
                </small>
              </span>

              <span class="marginleft" data-toggle="tooltip" data-placement="top" title="Language">
                <i class="fas fa-pencil-alt"></i>
                <small class="text-secondary margin8">
                  <%= @q_card.language.value %>
                </small>
              </span>
            </div>
          </div>
        </div>
      </div>
      <p class="margin15 paddingbottom15">
        <%= @q_card.description %>
      </p>
      
      <% if @q_card.m_description.present? %>
        <p class="margin15 text-muted padding-bottom border-top paddingtop15">
          <%= @q_card.m_description %>
        </p>
      <% end %>
      <div class="corrections_btn border-top  ">
        <%= link_to "#{t('show.Upper.MakeCorrections')}", "#correction_top", class: "btn btn-info btn-sm corrections animate" %>
      </div>
    </div>

    <!-- Answer card -->
    <div class="corrections_area">
      <%= render partial: 'a_card', collection: @a_cards, as: "card" %>
    </div>

    <!-- Corrections area -->
    <% unless @q_card.user.id == current_user.id %>
      <div class="corrections_area shadow-sm"  id="correction_top">
        <div class="alert alert-info" role="alert">
          <div class="upper">
            <h4 class="alert-heading marginbottom0" >
              <%=  t('show.form.MakeCorrections') %>
            </h4>
            <%= link_to "#page_top", class: "animate" do %>
              <span class="text-secondary">
                <i class="fas fa-arrow-up"></i> <%=  t('show.form.ReturnTOP') %>
              </span>
            <% end %>
          </div>
          <hr class="my-4">
          
          <%= form_with model: @a_card, local: true, class: "padding30", url: a_card_create_post_path(@q_card), method: 'POST', novalidate: 'novalidate' do |f| %>
            
            <div class="form-group">
              <%= f.label "#{t('show.form.description')}" %><span class="text-danger">( <i class="fas fa-exclamation"></i> )</span>
              <%= f.text_area :description, { class: 'form-control',  placeholder: "#{t('show.form.WriteACorrections')}",rows: "3" } %>
            </div>
            <hr class="my-4">
            
            <div class="form-group">
              <%= f.label "#{t('show.form.WhenToUseIt1')}" %>
              <%= f.text_field :when_to_use1, { class: 'form-control',  placeholder: "#{t('show.form.expalin1')}" } %>
            </div>

            <div class="form-group">
              <%= f.label "#{t('show.form.WhenToUseIt2')}" %>
              <%= f.text_field :when_to_use2, { class: 'form-control',  placeholder: "#{t('show.form.expalin2')}" } %>
            </div>

            <div class="form-group">
              <%= f.label "#{t('show.form.WhenToUseIt3')}" %>
              <%= f.text_field :when_to_use3, { class: 'form-control',  placeholder: "#{t('show.form.expalin3')}" } %>
            </div>

            <div class="text-right" >
              <span class="text-secondary cursor" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <%=  t('show.form.MakeMoreExample') %>
              </span>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="form-group">
                <%= f.label "#{t('show.form.WhenToUseIt4')}" %>
                <%= f.text_field :when_to_use4, { class: 'form-control',  placeholder: "#{t('show.form.expalin4')}" } %>
              </div>
              <div class="form-group">
                <%= f.label "#{t('show.form.WhenToUseIt5')}" %>
                <%= f.text_field :when_to_use5, { class: 'form-control',  placeholder: "#{t('show.form.expalin5')}" } %>
              </div>
            </div>

            <hr class="my-4">
            
            <div class="form-group">
              <%= f.label "#{t('show.form.RelationPhraseFirst')}" %>
              <%= f.text_field :relation1_description, { class: 'form-control',  placeholder: "#{t('show.form.R1_explain')}" } %>
            </div>
            <hr class="my-4">
            
            <div class="form-group">
              <%= f.label "#{t('show.form.R1_WhenToUseIt1')}" %>
              <%= f.text_field :relation1_when_to_use1, { class: 'form-control',  placeholder: "#{t('show.form.R1_expalin1')}" } %>
            </div>

            <div class="form-group">
              <%= f.label "#{t('show.form.R1_WhenToUseIt2')}" %>
              <%= f.text_field :relation1_when_to_use2, { class: 'form-control',  placeholder: "#{t('show.form.R1_expalin2')}" } %>
            </div>

            <div class="form-group">
              <%= f.label "#{t('show.form.R1_WhenToUseIt3')}" %>
              <%= f.text_field :relation1_when_to_use3, { class: 'form-control',  placeholder: "#{t('show.form.R1_expalin3')}" } %>
            </div>
            
            <hr class="my-4">

            <div class="text-right" >
              <span class="text-secondary cursor" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                <%=  t('show.form.MakeRelationPhrase') %>
              </span>
            </div>
            <div class="collapse" id="collapseExample2">
              <div class="form-group">
                <%= f.label "#{t('show.form.RelationPhraseSecond')}" %>
                <%= f.text_field :relation2_description, { class: 'form-control',  placeholder: "#{t('show.form.R2_explain')}" } %>
              </div>
              <hr class="my-4">
              
              <div class="form-group">
                <%= f.label "#{t('show.form.R2_WhenToUseIt1')}" %>
                <%= f.text_field :relation2_when_to_use1, { class: 'form-control',  placeholder: "#{t('show.form.R2_expalin1')}" } %>
              </div>

              <div class="form-group">
                <%= f.label "#{t('show.form.R2_WhenToUseIt2')}" %>
                <%= f.text_field :relation2_when_to_use2, { class: 'form-control',  placeholder: "#{t('show.form.R2_expalin2')}" } %>
              </div>

              <div class="form-group">
                <%= f.label "#{t('show.form.R2_WhenToUseIt3')}" %>
                <%= f.text_field :relation2_when_to_use3, { class: 'form-control',  placeholder: "#{t('show.form.R2_expalin3')}" } %>
              </div>
                
              <hr class="my-4">
              <div class="text-right" >
                <span class="text-secondary cursor" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                  <%=  t('show.form.MakeRelationPhrase') %>
                </span>
              </div>
              <div class="collapse" id="collapseExample3">
                <div class="form-group">
                  <%= f.label "#{t('show.form.RelationPhraseThird')}" %>
                  <%= f.text_field :relation3_description, { class: 'form-control',  placeholder: "#{t('show.form.R3_explain')}" } %>
                </div>
                <hr class="my-4">
                
                <div class="form-group">
                  <%= f.label "#{t('show.form.R3_WhenToUseIt1')}" %>
                  <%= f.text_field :relation3_when_to_use1, { class: 'form-control',  placeholder: "#{t('show.form.R3_expalin1')}" } %>
                </div>

                <div class="form-group">
                  <%= f.label "#{t('show.form.R3_WhenToUseIt2')}" %>
                  <%= f.text_field :relation3_when_to_use2, { class: 'form-control',  placeholder: "#{t('show.form.R3_expalin2')}" } %>
                </div>

                <div class="form-group">
                  <%= f.label "#{t('show.form.R3_WhenToUseIt3')}" %>
                  <%= f.text_field :relation3_when_to_use3, { class: 'form-control',  placeholder: "#{t('show.form.R3_expalin3')}" } %>
                </div>
                  
                <hr class="my-4">
              </div>
            </div>

            <%= f.submit "#{t('show.form.submit')}", class:"btn btn-info  text-center" %>
          <% end %>      
        </div>
      </div>
    <% end %>
  </div>
  
  <%= render partial: "random_list" %>
</div>